{% extends "base_gen.html" %}

{%block page_specific_js %}
{% load static %}
<script src="{% static 'js/capture.js' %}"></script>
{% endblock page_specific_js %}

{% block content %}

{% if form.errors %}
<p>Usuario y contrasena no coinciden. Por favor intente de nuevo.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Su cuenta no tiene acceso a esta pagina. Por favor use una cuenta diferente.</p>
{% else %}
<p>Por favor haga login para ver esta pagina.</p>
{% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% comment %} <table>
        {% for field in form %}
        <tr>
            <td>{{ field.label_tag }} {{ field }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <label for="id_foto_data">foto_data:</label>
                <input type="hidden" name="fotoData" id="fotoData" value="">
            </td>
        </tr>
    </table>
    <p><input type="text" name="fotoData" id="id_fotoData" value=""></p>
    {% endcomment %}
    <div class="camera">
        <video id="video">Cámara no disponible.</video>
        <button id="startbutton">Capturar imagen</button>
    </div>
    <canvas id="canvas">
    </canvas>
    <div class="output">
        <img id="photo" alt="Imagen capturada.">
    </div>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
<br />
<p>Si no tiene una cuenta, registrese <a href="{% url 'registro' %}">aqui</a></p>

{% endblock content %}